@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    src: url("../public/fonts/Oswald-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200;
    src: url("../public/fonts/Oswald-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/Oswald-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    src: url("../public/fonts/Oswald-SemiBold.ttf") format("truetype");
}

*,
*::after,
*::before {
    font-family: "Oswald" !important;
}